<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="static/style.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images.jpg') }}">           <!--to add icon in browser-->

        <!--<  jinja {{ }} is a method (templating language) , if some path or any thing written inside {{  }} (jinja),
        it means converting to python language ex: in html {{2+5}} will act as python language will return output 7.-->


    </head>
    <body>
     
         WELCOME TO THE FIRST TOPIC IN UDEMY WEB TECH.

        
        <script src="static/script.js" async defer></script>
    </body>
</html>






<!--   Installing Flask
    Step 1:creating virtual environment:
    cmd line: python -m venv foldername/ 
     Then inside UDEMY_WEBTECH(foldername) three files created : include, Lib,Scripts, 
    
     step2: Activate the virtual environment:
     cmd line: foldername\Scripts\activate-->
